<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.923210800441-hnh9l9d30jh4tluv3cvmik6n3063pjdg</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>923210800441-hnh9l9d30jh4tluv3cvmik6n3063pjdg.apps.googleusercontent.com</string>
</dict>
</plist>
